@{ Layout = null; }

@using EconomicShop.ViewModel.Common.ProductCategory;

@model List<ProductCategoryViewModel>


@foreach (var item in Model)
{
    
        <div style="height: 100%; width:10%">
            <div  class="home-category-list__category-grid" >
                <div class="category-item" data-category="@item.Id">
                    <div style="flex-shrink: 1; width: 70%; height: 70%; margin-top: 10%;">
                        <div style="position: relative; height: 100%">
                            <div class="category-item-img" style="background-image: url(/Images/ProductCategories/@item.Image); background-size: contain; background-repeat: no-repeat;"></div>

                        </div>
                    </div>

                    <div class="category-item-text">
                        <div class="item-text">@item.Name</div>
                    </div>
                </div>


            </div>
        </div>

}
